@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Oswald&display=swap");

:root {
  --header-font: "Oswald", sans-serif;
  --body-font: "Cardo", serif;
  --green-fern: #628b48;
  --green-mantis: #6ab547;
  --brown-rosy: #ba9790;
  --brown-sugar: #b4654a;
  --black-bean: #3c1518;
  --rose-misty: #f1e2df;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  /* padding: 1em; */
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  color: var(--black-bean);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

header {
  width: 90%;
  display: block;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  gap: 1em;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0px;
}
nav ul li a {
  text-decoration: none;
  color: var(--black-bean);
}

.logo {
  width: 3em;
  align-self: center;
}

.full-img {
  width: 100%;
}
.banner img {
  filter: brightness(60%);
}

.banner {
  position: relative;
}

.banner-text {
  text-align: right;
  position: absolute;
  right: 1em;
  bottom: 0.4em;
  color: var(--rose-misty);
  font-size: 1.5em;
}

.banner-text p {
  margin-top: 0px;
}

.banner-text h2 {
  margin: 0px;
  color: var(--rose-misty);
}

.crave {
  margin: 2em;
  text-align: center;
  padding: 2em;
  background-color: var(--green-fern);
}

h3 {
  text-align: center;
  font-size: 1.4em;
}

.recommend-wrapper {
  background-color: var(--brown-rosy);
  width: 100%;
  padding: 5em 0em 5em 0em;
}

.recommend-wrapper h3 {
  margin: 0px;
}

.recommended-link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

.recommended {
  display: flex;
  flex-flow: column wrap;
}

.column {
  flex-direction: column;
}

.recommended img {
  margin-bottom: 0.5em;
}

footer {
  text-align: center;
}

.search-button {
  margin: auto;
}

.gallery-heading {
  text-align: center;
}

#gallery {
  padding: 3em 0em 3em 0em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--rose-misty);
  margin: 2em;
}

#gallery a {
  padding: 0.5em;
  text-decoration: none;
  color: var(--brown-sugar);
  overflow-wrap: break-word;
  text-align: center;
}

footer {
  margin: 3em;
}

#recipe-details {
  display: block;
  width: 80%;
  margin: auto;
}

#recipe-details h1,
#recipe-details a {
  display: block;
  text-align: center;
  margin: auto;
  padding: 0px;
  background-color: var(--green-mantis);
  width: 90%;
}
#recipe-details h1 {
  padding-top: 1em;
}

#recipe-details a {
  padding-bottom: 2em;
  margin-bottom: 2em;
  color: white;
}

#recipe-details ul::before {
  content: "Ingredients";
  font-family: var(--header-font);
  font-size: 2em;
  margin-left: -15px;
}
#recipe-details ul {
  margin: 0px;
}

#recipe-details ol::before {
  content: "Directions";
  font-family: var(--header-font);
  font-size: 2em;
  margin-left: -15px;
}

#recipe-details ol {
  margin-top: 2em;
}

.recipe-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  header {
    width: 70%;
  }

  .recommended-link {
    max-width: 30%;
  }
  .column {
    flex-direction: row;
  }
  #recipe-details ol {
    margin-left: 20%;
  }
}
